<!doctype html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8"/>
        <meta content="ie=edge" http-equiv="x-ua-compatible"/>
        <meta content="width=device-width, minimal-ui, minimum-scale=1, initial-scale=1" name="viewport"/>
        <link href="/style.css" rel="stylesheet"/>
        <title>{{ renderData.title }}</title>
    </head>
    <body>
        <main>
            {{ content }}
        </main>
    </body>
</html>
